
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0px;
        overflow: hidden;
        background-color: #4285F4;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .connecter:hover {
        text-decoration: underline;
    }
</style>


<p-dialog header="Connexion" [(visible)]="displayLoginDialog" [style]="{width: '30vw'}" [baseZIndex]="10000"
          [modal]="true">
    <div style="padding: 15px 15px;">
        <div style="margin-bottom: 11px">

            <span>Email</span><br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                <input type="text" pInputText placeholder="Nom d'utilisateur" style="width: 175px">
            </div>
        </div>
        <div>
            <span>Mot de passe</span><br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-unlock-alt" style="line-height: 1.25;"></i></span>
                <input type="text" pInputText placeholder="Mot de passe" style="width: 175px">
            </div>
        </div>
    </div>
    <p-footer>
        <p-button icon="pi pi-check" (click)="connecter()" label="Se connecter" styleClass="p-button-text"></p-button>
        <p-button icon="pi pi-times" (click)="displayLoginDialog=false" label="Quitter" [class]="'ui-button ui-button-secondary'"></p-button>
    </p-footer>
</p-dialog>

<div style="overflow: hidden; background-color: white">
    <div>
        <ul>
            <li><a href="#home"><span style="font-size: 21px">Sipral-Express</span></a></li>
            <li style="float:right">
                <a href="javascript:void(0)" class="connecter" (click)="onLoginClicked()"><i class="fa fa-sign-in" aria-hidden="true"></i> Se Connecter</a>
            </li>
        </ul>
    </div>

    <div  style="text-align: center;">
        <div style="margin-top: 70px">
            <h1 style="color: #4285F4">Spiral-Express</h1>
            <h3>Application de gestion d'envoi, de reception, de livraison et de tracking de colis</h3>
        </div>


        <div style="margin-top: 7%; margin-bottom: 15%">
            <p><strong>Entrer votre numéro de suivi</strong></p>
            <input pInputText style="width: 300px; border-radius: 15px">
        </div>
    </div>


</div>
