<!--
-->
<div>
    <div style="margin-bottom: 9px">
        <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'fa fa-home'}"></p-breadcrumb>
    </div>

    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-9"><h1>Création d'un nouveau client</h1></div>
        </div>

        <div>
            <div style="margin-bottom: 11px">
                <span>Nom</span><br>
                <input pInputText>
            </div>
            <div style="margin-bottom: 11px">
                <span>Prénom</span><br>
                <input pInputText>
            </div>
            <div style="margin-bottom: 11px">
                <span>Email</span><br>
                <input pInputText>
            </div>
            <div style="margin-bottom: 11px">
                <span>Téléphone</span><br>
                <input pInputText>
            </div>
            <div style="margin-bottom: 11px">
                <span>Pays</span><br>
                <p-dropdown></p-dropdown>
            </div>
            <div style="margin-bottom: 11px">
                <span>Code postal</span><br>
                <input pInputText>
            </div>
            <div style="margin-bottom: 11px">
                <span>Ville</span><br>
                <input pInputText>
            </div>
            <div style="margin-bottom: 11px">
                <span>Rue</span><br>
                <input pInputText>
            </div>

            <div style="margin-top: 15px">
                <button pButton label="Retour" class="ui-button-secondary" style="margin-right: 7px"
                        icon="fa fa-chevron-left" (click)="back()">
                </button>
                <button pButton label="Enregistrer" icon="fa fa-save" (click)="enregistrer()"></button>
            </div>

        </div>
    </div>
</div>
