<!--
-->
<div>
    <div style="margin-bottom: 9px">
        <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'fa fa-home'}" [style]="{'boder': '0px'}"></p-breadcrumb>
    </div>

    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-9"><h1>Liste des clients</h1></div>
            <div class="ui-g-3">
                <p-button label="Créer un nouveau client" icon="pi pi-plus"
                          [routerLink]="['/clients/creer']"></p-button>
            </div>
        </div>

        <div>
            <p-dataView #dv [value]="clients" [paginator]="true" [rows]="10" paginatorPosition="bottom">
                <ng-template let-client pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="p-grid p-ai-center vertical-container">
                            <div class="p-col-9">
                                <div>
                                <span
                                    style="display: block; font-size: 18px; font-weight: bold">{{ client.prenom }} {{ client.nom }}</span>
                                    <div>
                                    <span
                                        style="display: inline-block; padding: 7px 0px; padding-right: 11px">Tel: <strong>{{ client.telephone }}</strong></span>
                                        <span
                                            style="display: inline-block; padding: 7px 0px; padding-right: 11px">Email: <strong>{{ client.email }}</strong></span>
                                    </div>
                                    <div>
                                    <span
                                        style="display: inline-block; padding: 7px 0px; padding-right: 11px">Pays: <strong>{{ client.pays }}</strong></span>
                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Adresse: <strong>{{ client.adresse }}</strong></span>
                                    </div>

                                </div>
                            </div>

                            <div class="p-col-3">
                                <button pButton label="Modifier" icon="fa fa-pencil" style="margin-right: 7px"
                                        class="ui-button ui-button-warning"></button>
                                <button pButton label="Supprimer" icon="fa fa-trash"
                                        class="ui-button ui-button-danger"></button>
                            </div>
                        </div>
                        <hr size="1px" align="left" color="#d9dad9">
                    </div>
                </ng-template>

            </p-dataView>
        </div>
    </div>
</div>
