<!--
-->
<div>
    <app-breadcrumb [breadcrumbItems]="breadcrumbItems"></app-breadcrumb>

    <div class="card card-w-title" style="margin-top: 11px">
        <div class="p-grid p-align-center">
            <div class="p-col-9">
                <span style="font-size: 18px;">Liste des destinataires du client:
                    <span style="font-style: italic; text-decoration: underline; font-weight: bold">{{ client?.nom }} {{client?.prenom}}</span>
                </span>
            </div>
            <div class="p-col-3 small-screen-hide">
                <p-button label="Nouveau destinataire" icon="pi pi-plus" (click)="openDialog()"></p-button>
            </div>
            <div class="p-col-2 big-screen-hide">
                <p-button icon="pi pi-plus" (click)="openDialog()"></p-button>
            </div>
        </div>

        <div>
            <p-dataView #dv [value]="destinataires" [paginator]="true" [rows]="10" paginatorPosition="bottom">
                <ng-template let-destinataire pTemplate="listItem">
                    <div class="p-col-12" (click)="navigate(destinataire)">
                        <div class="p-grid p-align-center row-item">
                            <div class="p-col-12 p-md-9">
                                <div>
                                <span
                                    style="display: block; font-size: 18px; font-weight: bold">{{ destinataire?.prenom }} {{ destinataire?.nom }}</span>
                                    <div>
                                    <span
                                        style="display: inline-block; padding: 7px 0px; padding-right: 11px">Tel: <strong>{{ destinataire?.telephone }}</strong></span>
                                        <span
                                            style="display: inline-block; padding: 7px 0px; padding-right: 11px">Email: <strong>{{ destinataire?.email }}</strong></span>
                                    </div>
                                    <div>
                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Pays:
                                            <strong>{{ destinataire?.adresse?.pays }}</strong>
                                        </span>
                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Adresse:
                                            <strong>{{ destinataire?.adresse?.ville }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="p-md-3">
                                <button pButton label="Modifier" icon="fa fa-pencil" style="margin-right: 7px"
                                        class="ui-button ui-button-warning small-screen-hide"
                                        (click)="openDialog(destinataire)"></button>
                                <ng-template [ngIf]="isOpenLikeDialog">
                                    <button pButton label="Selectionner" icon="pi pi-arrow-down"
                                            class="small-screen-hide"
                                            (click)="selectDestinataire(destinataire)">
                                    </button>
                                </ng-template>
                            </div>
                        </div>
                        <hr size="1px" align="left" color="#d9dad9">
                    </div>
                </ng-template>

            </p-dataView>
        </div>
        <div style="margin-top: 15px">
            <button pButton label="Retour" class="ui-button-secondary" style="margin-right: 7px"
                    icon="fa fa-chevron-left" (click)="back()">
            </button>
        </div>
    </div>
</div>
