<!--
-->
<div>

    <div class="card card-w-title">
        <div>
            <p-dataView #dv [value]="destinataires" [paginator]="true" [rows]="10" paginatorPosition="bottom">
                <ng-template let-client pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="p-grid p-ai-center vertical-container">
                            <div class="p-col-9">
                                <div>
                                <span
                                    style="display: block; font-size: 18px; font-weight: bold">{{ client.prenom }} {{ client.nom }}</span>
                                    <div>
                                    <span
                                        style="display: inline-block; padding: 7px 0px; padding-right: 11px">Tel: <strong>{{ client.telephone }}</strong></span>
                                        <span
                                            style="display: inline-block; padding: 7px 0px; padding-right: 11px">Email: <strong>{{ client.email }}</strong></span>
                                    </div>
                                    <div>
                                    <span
                                        style="display: inline-block; padding: 7px 0px; padding-right: 11px">Pays: <strong>{{ client.pays }}</strong></span>
                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Adresse: <strong>{{ client.adresse }}</strong></span>
                                    </div>

                                </div>
                            </div>

                            <div class="p-col-3">
                                    <button pButton label="Selectionner" icon="pi pi-arrow-down" (click)="selectPartenaire(client)">
                                    </button>
                            </div>
                        </div>
                        <hr size="1px" align="left" color="#d9dad9">
                    </div>
                </ng-template>

            </p-dataView>
        </div>
    </div>
</div>
