<!--
-->
<div>
    <div style="margin-bottom: 9px">
        <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'fa fa-home'}"></p-breadcrumb>
    </div>

    <div class="card card-w-title">
        <div class="p-grid p-align-center">
            <div class="p-col-9"><span style="font-size: 21px; font-weight: bold">Liste des partenaires</span></div>
            <div class="p-col-3 small-screen-hide">
                <p-button label="Créer un nouveau client" icon="pi pi-plus"
                          [routerLink]="['/partenaires/creer']"></p-button>
            </div>
            <div class="p-col-3 big-screen-hide">
                <p-button icon="pi pi-plus" [routerLink]="['/partenaires/creer']"></p-button>
            </div>
        </div>




        <div>
            <p-dataView #dv [value]="partenaires" [paginator]="true" [rows]="10" paginatorPosition="bottom">
                <ng-template let-client pTemplate="listItem">
                    <div class="p-col-12">
                        <div class="p-grid p-ai-center vertical-container">
                            <div class="p-col-12 p-md-9" (click)="showUpdate(client)">
                                <div>
                                <span
                                    style="display: block; font-size: 18px; font-weight: bold">{{ client.prenom }} {{ client.nom }}</span>
                                    <div>
                                    <span
                                        style="display: inline-block; padding: 7px 0px; padding-right: 11px">Tel: <strong>{{ client.telephone }}</strong></span>
                                        <span
                                            style="display: inline-block; padding: 7px 0px; padding-right: 11px">Email: <strong>{{ client.email }}</strong></span>
                                    </div>
                                    <div>
                                    <span
                                        style="display: inline-block; padding: 7px 0px; padding-right: 11px">Pays: <strong>{{ client.adresse.pays }}</strong></span>
                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Ville: <strong>{{ client.adresse.ville }}</strong></span>
                                    </div>

                                </div>
                            </div>

                            <div class="p-md-3">
                                <ng-template [ngIf]="!isOpenLikeDialog">
                                    <div>
                                        <button pButton label="Destinataires" icon="fa fa-users" routerLink="/destinataires" style="margin-right: 7px"></button>

                                        <button pButton label="Modifier" icon="fa fa-pencil" style="margin-right: 7px"
                                                class="ui-button ui-button-warning small-screen-hide"
                                                [routerLink]="['/clients', client.id, 'modifier']"></button>

                                        <button pButton label="Supprimer" icon="fa fa-trash"
                                                class="ui-button ui-button-danger small-screen-hide"
                                                (click)="confirmerSuppression(client)"></button>
                                    </div>
                                </ng-template>
                                <ng-template [ngIf]="isOpenLikeDialog">
                                    <button pButton label="Selectionner" icon="pi pi-arrow-down"
                                            (click)="selectPartenaire(client)">
                                    </button>
                                </ng-template>

                            </div>
                        </div>
                        <hr size="1px" align="left" color="#d9dad9">
                    </div>
                </ng-template>

            </p-dataView>
        </div>



<!--        <div>-->
<!--            <p-dataView #dv [value]="partenaires" [paginator]="true" [rows]="10" paginatorPosition="bottom">-->
<!--                <ng-template let-partenaire pTemplate="listItem">-->
<!--                    <div class="p-col-12">-->
<!--                        <div class="p-grid p-ai-center vertical-container">-->
<!--                            <div class="p-col-9">-->
<!--                                <div>-->
<!--                                    <span style="display: block; font-size: 18px; font-weight: bold">{{ partenaire.prenom }} {{ partenaire.nom }}</span>-->
<!--                                    <div>-->
<!--                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Tel: <strong>{{ partenaire.telephone }}</strong></span>-->
<!--                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Email: <strong>{{ partenaire.email }}</strong></span>-->
<!--                                    </div>-->
<!--                                    <div>-->
<!--                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Pays: <strong>{{ partenaire.pays }}</strong></span>-->
<!--                                        <span style="display: inline-block; padding: 7px 0px; padding-right: 11px">Adresse: <strong>{{ partenaire.adresse }}</strong></span>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="p-col-3">-->
<!--                                <button pButton label="Modifier" icon="fa fa-pencil" style="margin-right: 7px" class="ui-button ui-button-warning"></button>-->
<!--                                <button pButton label="Supprimer" icon="fa fa-trash" class="ui-button ui-button-danger"></button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <hr size="1px" align="left" color="#d9dad9">-->
<!--                    </div>-->
<!--                </ng-template>-->

<!--            </p-dataView>-->
<!--        </div>-->
    </div>
</div>
