<div>
    <div style="margin-bottom: 9px">
        <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'fa fa-home'}"></p-breadcrumb>
    </div>

    <div class="card card-w-title">
        <div class="ui-g">
            <div class="ui-g-9"><h1>Encodage d'un nouvel envoi</h1></div>
        </div>

        <div style="margin-bottom: 25px">
            <div class="p-grid" style="margin-bottom: 15px">
                <div class="p-col-2">
                    <span style="display: block">Date</span>
                    <span>19/09/2010</span>
                </div>
                <div class="p-col-2">
                    <span style="display: block">Etat</span>
                    <span>Prise en charge</span>
                </div>
                <div class="p-col-2">
                    <span style="display: block">Référence</span>
                    <span>3345567899</span>
                </div>



            </div>

            <!--[Coli]-->
            <div>
                <span>Coli</span>
                <hr size="1px" width="70%" align="left" color="#d9dad9">

                <div class="p-grid">
                    <div class="p-col">
                        <div class="ui-fluid"><span>Description coli</span></div>
                        <textarea pInputTextarea [rows]="3" [cols]="50"></textarea>
                    </div>
                </div>



                <div class="p-grid" style="margin-bottom: 11px">
                    <div class="p-col-2">
                        <div class="ui-fluid"><span>Longueur</span></div>
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Longueur">
                            <span class="ui-inputgroup-addon">m</span>
                        </div>
                    </div>
                    <div class="p-col-2">
                        <div class="ui-fluid"><span>Largeur</span></div>
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Largeur">
                            <span class="ui-inputgroup-addon">m</span>
                        </div>
                    </div>
                </div>

                <div class="p-grid" style="margin-bottom: 11px">
                    <div class="p-col-2">
                        <div class="ui-fluid"><span>Hauteur</span></div>
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Hauteur">
                            <span class="ui-inputgroup-addon">m</span>
                        </div>
                    </div>
                    <div class="p-col-2">
                        <div class="ui-fluid"><span>Poids coli</span></div>
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Poids">
                            <span class="ui-inputgroup-addon">kg</span>
                        </div>
                    </div>
                </div>

                <div class="p-grid" style="margin-bottom: 11px">
                    <div class="p-col-2">
                        <div class="ui-fluid">Poids volumétrique</div>
                        <div class="ui-inputgroup">
                            <input type="text" pInputText disabled value="9">
                            <span class="ui-inputgroup-addon">kg/m³</span>
                        </div>
                    </div>
                    <div class="p-col-2">
                        <div class="ui-fluid">Volume</div>
                        <div class="ui-inputgroup">
                            <input type="text" pInputText disabled value="34">
                            <span class="ui-inputgroup-addon">m³</span>
                        </div>
                    </div>
                </div>
            </div>

            <!--[Expéditeur]-->
            <div style="margin-bottom: 35px">
                <span>Coordonnées de l'expéditeur</span>
                <hr size="1px" width="70%" align="left" color="#d9dad9">
                <div style="margin-top: 15px"><span>Expéditeur</span></div>
                <div class="p-inputgroup">
                    <input type="text" pInputText>
                    <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-danger"
                            (click)="onSearchExpediteurClicked()"></button>
                </div>
            </div>

            <!--[Destinataire]-->
            <div>
                <span>Coordonnées du destinataire</span>
                <hr size="1px" width="70%" align="left" color="#d9dad9">
                <div>
                    <div class="ui-fluid">Destinataire</div>
                    <div class="p-inputgroup">
                        <input type="text" pInputText>
                        <button type="button" pButton pRipple icon="pi pi-search" styleClass="p-button-danger" (click)="onSearchDestinataireClicked()"></button>
                    </div>
                </div>
            </div>


            <div style="margin-top: 31px">
                <div class="ui-fluid">Montant total à payer pour cet envoi</div>
                <div class="ui-inputgroup">
                    <input type="text" pInputText placeholder="Prix">
                    <span class="ui-inputgroup-addon">EUR</span>
                </div>
            </div>
        </div>

        <app-button-group (retourClicked)="back()" (validerClicked)="onValiderClicked()"></app-button-group>
    </div>
</div>
